<div class="row" style="overflow: auto">
    <div class="col-sm-12">
        <div id="heat-map-months"></div>
    </div>
    <div class="col-sm-12">
        <div id="heat-map-day"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="container" style="width: 800px; height: 310px">
            <div style="text-align: center" id="loading">
                <i class="fa fa-spinner fa-spin"></i> Loading data from external source
            </div>
        </div>
    </div>
</div>